@import "tailwindcss";

@theme{
    --color-primary:#0a0a0a;   
    --color-secondary:#171717;
    --color-accent:#a1a1a1;
    --color-background:#e5e5e5;
}

@utility center{
    @apply flex items-center justify-center;
}

